In [165]:
DECLARE @Atlag_Ar INT;
SELECT @Atlag_Ar = avg(LISTAAR) FROM Termek

SELECT 
    min(LISTAAR) as Min_Ar,
    cast(avg(LISTAAR) AS DECIMAL(10, 0)) AS Atlag_Ar,
    max(LISTAAR) as Max_Ar,
    sum(CASE WHEN t.LISTAAR < @Atlag_Ar THEN 1 ELSE 0 END) as Atlag_Alatt,
    sum(CASE WHEN t.LISTAAR > @Atlag_Ar THEN 1 ELSE 0 END) as Atlag_Felett
FROM Termek t

Min_Ar,Atlag_Ar,Max_Ar,Atlag_Alatt,Atlag_Felett
0,786,46000,505,46

In [166]:
SELECT 
    count(distinct t.MEGNEVEZES) as Ossz_Termek,
    sum(CASE WHEN t.MEGNEVEZES IS NULL THEN 1 ELSE 0 END) AS Hianyzo_Ertek,
    min(len(t.MEGNEVEZES)) AS Min_Hossz,
    max(len(t.MEGNEVEZES)) AS Max_Hossz,
    avg(len(t.MEGNEVEZES)) AS Atlag_Hossz
FROM Termek t

SELECT TOP 10 t.MEGNEVEZES AS Megnevezes, 
        len(t.MEGNEVEZES) AS Karakter_Szam
FROM Termek t
GROUP BY t.MEGNEVEZES
ORDER BY 2 DESC

Ossz_Termek,Hianyzo_Ertek,Min_Hossz,Max_Hossz,Atlag_Hossz
543,0,3,40,18

Megnevezes,Karakter_Szam
A föld amelyen élünk - Távoli földrészek,40
Összefoglaló feladatgyüjtemény számtech.,40
A föld amelyen élünk - Hazánk földrajza,39
A föld amelyen élünk - Európa földrajza,39
G. toll betét UNI lachnok Fine SA-7C,36
Ragasztószalag 19 mm-es SCOTCH+ tépő,36
A föld amelyen élünk - munkafüzet,33
Díszdoboz tollnak 2 db-os keskeny,33
Golyóstoll + ceruza Twister 2in1,32
"Ajándék cs. tasak italos, fólia",31

In [167]:
SELECT 
    count(*) as Sorok_Szama,
    sum(CASE WHEN t.LEIRAS IS NULL THEN 1 ELSE 0 END) as Hianyzo_Leiras,
    concat(cast(round(100.0 * sum(CASE WHEN t.LEIRAS IS NULL THEN 1 ELSE 0 END) / count(*), 2) as decimal(10, 2)),'%') as Hianyzo_Leiras_Arany
FROM Termek t

Sorok_Szama,Hianyzo_Leiras,Hianyzo_Leiras_Arany
551,527,95.64%

In [168]:
SELECT 
    count(DISTINCT t.FELVITEL) as Egyedi_Datumok_Szama,
    datename(dw, t.FELVITEL) as Het_Napja, 
    count(*) AS Felvitt_Termekek
FROM Termek t
GROUP BY datename(dw, FELVITEL)
ORDER BY Felvitt_Termekek DESC

Egyedi_Datumok_Szama,Het_Napja,Felvitt_Termekek
10,Saturday,107
9,Friday,86
9,Monday,81
8,Thursday,79
8,Wednesday,74
8,Tuesday,71
9,Sunday,53